body {
	font: 11pt Arial;
	color: #454544;
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    min-width: 1100px;
    position: relative;
}

h1, h2{  color: #656565; }
h1{
    margin: 8px 5px 15px 0px;
    font-size: 1.85em;
}
h2{
    font-size: 1.40em;
}


a{
    text-decoration: none;
    color: #4c5847;
    font-weight: bold;
}

a:hover{
    color: #75b05d;
}

/* Layout */
#main{

}
#content{
    margin: 15px 20px 0px 20px;
    min-height: 450px;
    width: 77%;
    display: inline-block;
}

#widgets{
    position:absolute;
    top: 50px;
    right: 0px;
    width: 200px;
    padding: 5px 12px;
    background: #d2d8ec;
    -moz-border-radius: 15px 0px 0px 15px;
    -moz-box-shadow: #b4b4b4 0px 0px 8px;
    border: 1px solid #a1a1a1;
}


#header{

    height: 30px;
}



#footer{
	text-align: right;
	padding: 15px;
	font-size: 0.8em;
}
/* Online info */

#online-info
{
    background: #7b99d5;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px;
    border-bottom: 1px solid #7b99d5;
    border-right: 1px solid #7b99d5;
    -moz-border-radius: 0px 0px 15px 0px;
    -moz-box-shadow: gray 0px 0px 8px;
}

#online-info a{
    color: white;
    font-weight: bold;
    font-size: 11pt;
    padding: 0px 5px;
}

#online-info a.logout{
    font-size: 9pt;
    text-transform: lowercase;
    color: #d2d8ec;
}
/* Widgets */
div.widget{
    font-size: 10pt;
    background-color: white;
    padding: 2px;
    -moz-box-shadow: inset gray 0px 0px 2px;
    -moz-border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin: 10px auto;
}

div.widget .title{
    display: block;
    font-weight: bold;
    padding: 2px 8px;
    text-align: center;
    font-size: 11pt;
    margin: 0px;
    border-bottom: 1px solid #dedede;
    background-color: #f1f1f1;
}

/* Issue status widget */
.widget .issue-status{
    padding: 5px 5px 0px 5px;
}

.widget .issue-status dt{
    margin-bottom: 2px;
    color: #9a9a9a;
}

.widget .issue-status dd{
    font-size: 1.15em;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 8px;
}

.widget .issue-status .status{
    text-transform: capitalize;
}
.submenu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.submenu ul li{
    margin: 0px;
    padding: 0px;
}

.submenu ul li a{
    display: block;
    padding: 6px 25px;

    background-color: white;
    border-bottom: 1px dotted #dedede;
}
.submenu ul li a:hover{
    background-color: #f1f1f1;

}
.submenu .action-edit a{
    background: transparent url('images/edit-16.png') no-repeat 5px center;
}

.submenu .action-add a{
    background: transparent url('images/add-16.png') no-repeat 5px center;
}

.submenu .action-issue a{
    background: transparent url('images/issue-16.png') no-repeat 5px center;
}

/* Menu */
#main-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #7b99d5;
    border-bottom: 1px solid #7b99d5;
    border-left: 1px solid #7b99d5;
    -moz-border-radius: 0px 0px 0px 15px;
    -moz-box-shadow: gray 0px 0px 8px;
    /*height: 10px;*/
}

#main-menu:hover{
    height: auto;
}

#main-menu:hover ul.menu{
    visibility: visible;
}

ul.menu {
	list-style-type: none;
	display: block;
	padding: 0px;
	margin: 0px; padding: 0px;
	/*visibility: hidden;*/
}

ul.menu li {
	display: inline;
}

ul.menu li a {
	display: inline-block;
	padding: 8px 20px;
	font-weight: bold;
	color: white;
}

ul.menu li:hover a {

}

ul.menu li.selected a {
}

/* breadcrumb */

ul.breadcrumb {
	list-style-type: none;
	display: block;
	padding: 0px;
    margin: 0px;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li a {
	display: inline-block;
	font-weight: bold;
}

ul.breadcrumb li:not(:last-child ) a{
	background: transparent url('images/right_arrorw.jpg') no-repeat right 58%;
	padding: 0px 14px 0px 0px;
	margin-right: 6px;
}

/* ui-form */
div.ui-form {
	display: block;
    border: 1px solid #dedede;
    -moz-border-radius: 8px;
	-moz-box-shadow: gray 2px 2px 5px;
    background-color: white;
	width: 670px;
	padding: 30px;
}

div.ui-form .title {
	font-size: 120%;
	margin: 10px 0px;
	display: block;
	font-weight: bold;
}

div.ui-form dt {
	margin-bottom: 10px;
}

div.ui-form label {
	display: block;
	font-size: 11pt;
	margin: 5px 0px;
}

div.ui-form dt input, div.ui-form dt textarea {
	width: 95%;
}

div.ui-form dt input[type=checkbox]{
	float: left;
} 

div.ui-form .buttons {
	text-align: right;
	padding-right: 20px;
}

div.ui-form .buttons input {
	margin-left: 10px;
}

div.ui-form .ui-form-error, div.ui-form .ui-form-hint{
    display: block;
    font-size: 10pt;
}

div.ui-form .ui-form-error {
	color: red;
	font-style: italic;
	font-weight: bold;
}

div.ui-form .ui-form-hint {
    color: gray;
}

/* Dictionary list */
dl{
    border: 1px solid #dedede;
    -moz-border-radius: 8px;
	-moz-box-shadow: gray 2px 2px 5px;
    background-color: white;

	padding: 15px;
}

dl dt{
	font-size: 10pt;
}
dl dd{
	font-weight: bold;
	margin-left: 20px;
	margin-bottom: 5px;
}

/* Grid */
.ui-grid-list
{
    border: 1px solid #dedede;
    -moz-border-radius: 8px;
	-moz-box-shadow: gray 2px 2px 5px;
    background-color: white;
    padding: 5px;
    border-spacing:0px;
	min-width: 500px;
	font-size: 0.9em;
	width: 100%;
}

.ui-grid-list .ui-headers
{
    background: #bfb5a0 !important;
    color: white;
	border-bottom: 5px solid transparent;
}

.ui-grid-list th
{
    padding: 3px 10px;

	border: 2px solid white;
	border-bottom-width: 10px;
	margin: 2px 5px;    
}

.ui-grid-list tr.ui-even{
    background-color: #f3f3f3;

}

.ui-grid-list tr:hover{
    background-color: #f0f0e5;
}

.ui-grid-list td{
    vertical-align: top;
	padding: 4px 5px;
}

.ui-grid-list p{
    margin: 2px 0px;
    font-style: italic;
}

.ui-grid-list .status{
    text-transform: capitalize;
}

/* Issues view */
.issue-view .header{
    width: 732px;
}
.issue-view .description{
	margin: 15px 0px;
	display: block;
    border: 1px solid #dedede;
    -moz-border-radius: 8px;
	-moz-box-shadow: gray 2px 2px 5px;
    background-color: white;
	width: 700px;
	padding: 15px 15px 20px 15px;
	font-family: "Courier New";
	min-height: 59px;
}

.issue-view .header .poster, .issue-view  .header .date{
    font-size: 0.90em;
    display: inline-block;
    margin-left: 8px;
    float: right;
    position: relative;
    top: -40px;
    left: -15px;
}

ul.tags{
    margin: 15px 0px 0px 15px;
    padding: 0px;
    list-style: none;
    display: block;
}

ul.tags li{
    margin: 0px; 
    display: inline-block;
    font-weight: bold;
    padding: 0px 10px 0px 18px;
}
    
ul.actions{
    margin: 0px; padding: 0px;
    list-style-type: none;
}

.ui-form.issue-post{
    margin-top: 20px;
}

/* Actions */
ul.actions li{
    display: block;
    margin: 15px 0px; padding: 0px;
    border: 1px solid #dedede;
    -moz-border-radius: 8px;
	-moz-box-shadow: gray 2px 2px 5px;
    background-color: #dedede;
	width: 700px;
	padding: 15px;
	position: relative;
}

ul.actions li.comment{
   background-color: white;
}

ul.actions li:target{
    -moz-box-shadow: #72a4d2 0px 0px 5px 2px;
    border-color: #629ed7;
}

ul.actions li .anchor{
    display: block;
    font-size: 13pt;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 5px;
    text-align: right;
}

ul.actions li .actor{
    position: absolute;
    left: 15px;
    top: 15px;
}

ul.actions li .date{
    position: absolute;
    right: 55px;
    top: 17px;
    font-size: 10pt;
}
/* Comments */
ul.actions li .post{
	font-family: "Courier New";
}

ul.actions li .attachment{
    display: block;
    margin-top: 10px;
    background: transparent url('images/download-16.png') no-repeat left center;
    padding-left: 18px;
}

ul.actions li .title{
    margin: 5px 0px 5px 0px;
    display: block;
    font-weight: bold;
    font-size: 10pt;
    color: #646464;
}

/* Details changes */
ul.actions li.details_change .title{

}
ul.actions li.details_change .diff{
    font-size: 9pt;
    margin-left: 18px;
}

ul.actions li.details_change .tags{
    margin-left: 18px;
}

ul.actions li.details_change .old{
    margin-left: 18px;
}

/* Status change */
ul.actions li.status_change .status{
    text-transform: capitalize;
}
ul.actions li.status_change .old{
    padding-left: 30px;
}

/* Tag cloud */
.tag-cloud a:after{
    content: ' ';

}
/* General */
.status.new{    color: #e3780f; }
.status.accepted{    color: red; }
.status.invalid{    color: gray; }
.status.fixed{  color: green;}

.user{
    background: transparent url('images/user-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.tag{
    background: transparent url('images/tag-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.issue{
    background: transparent url('images/issue-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.project{
    background: transparent url('images/project-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.edit{
    background: transparent url('images/edit-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.issue{
    background: transparent url('images/issue-16.png') no-repeat left center;
    padding-left: 18px !important;
}

.diff   {   font-family: "Courier New";  }
.diff *{    text-decoration: none;   }
.diff del{  background-color: rgba(255,0,0,0.2);    text-decoration: line-through;  }
.diff ins{    background-color: rgba(0,255,0,0.2);  }

